%script{type: 'text/x-handlebars', data: {'template-name'=> 'home'}}
  #header-wrapper
    #header
      #nav-wrapper-left
        %ul.nav.primary-nav.primary-nav-left
          %li
            {{#linkTo 'about' class='cool-font'}}About{{/linkTo}}
          %li
            {{#linkTo 'releases' class='cool-font'}}Releases{{/linkTo}}
        .clear
      #small-logo
      #nav-wrapper-right
        %ul.nav.primary-nav.primary-nav-right
          %li
            {{#linkTo 'news' class='cool-font'}}News{{/linkTo}}
          %li
            {{#linkTo 'podcasts' class='cool-font'}}Podcasts{{/linkTo}}
        .clear
      .clear
    .clear
  #main
    #secondary-content
      {{outlet}}
    .clear
  #footer-wrapper
    #footer
      .cool-font
        &copy; 2013 TERRA NULL RECORDINGS. ALL RIGHTS RESERVED

%script{type: 'text/x-handlebars', data: {'template-name' => 'about'}}
  .content.centered
    #main-title
    .copy.about-text
      Terra Null, taken from the latin expression Terra Nullius derived from the Roman law meaning "Land belonging to no one". With this idea we at Terra Null Recordings try to cultivate an aesthetic that evokes a sense of organic evolution in both art and music. A world that belongs to nature rather than man naturally cultivates the unfamiliar and strange and is undeterred by the constructs of current human society and culture. We try to represent this as best we can through an eclectic collection of electronic music and digital artwork that we firmly believe pushes boundaries in the best way possible.
      %br
      %br
      Find us on:
      %ul
        %li
          %a{ href: 'https://www.facebook.com/terranullrecordings', target: '_blank' } Facebook
        %li
          %a{ href: 'https://twitter.com/terranullrecs', target: '_blank' } Twitter
        %li
          %a{ href: 'https://soundcloud.com/terra-null-recordings', target: '_blank' } Soundcloud
      %br
      SEND DEMOS TO:
      %ul
        %li
          TerraNullRecordings [at] gmail [dot] com
      Demos MUST BE:
      %ul
        %li
          Full tracks (no clips)
        %li
          320 kbs mp3s (no wavs or aiffs)
        %li
          Have track name, artist name, and contact info included
      %br
      %br

%script{type: 'text/x-handlebars', data: {'template-name' => 'podcasts'}}
  .copy
  %h2.center-text
    COMING SOON

%script{type: 'text/x-handlebars', data: {'template-name' => 'news'}}
  {{#each model}}
  .copy.news-item
    %h2
      {{title}}
    %div
      {{markdown content}}
  {{/each}}

  #tertiary-content
    {{outlet}}
  .clear

%script{type: 'text/x-handlebars', data: {'template-name' => 'releases'}}
  #tertiary-content
    {{outlet}}
    .clear

  #release-thumbs-wrapper
    %ul#release-thumbs
      {{#each model}}
      <li>
      {{#linkTo 'release' this class='cool-font release-thumb'}}
      <img {{bindAttr src="cover_thumbnail_src"}} height='200px' class="cover-art"/>
      .release-thumb-copy
        .release-thumb-catalog-number
          {{catalog_number}}
        .release-thumb-title
          {{title}}
      {{/linkTo}}
      .clear
      </li>
      {{/each}}

%script{type: 'text/x-handlebars', data: {'template-name' => 'news-item'}}
  .copy.news-item
    %h2
      {{model.title}}
    %div
      {{markdown model.content}}

%script{type: 'text/x-handlebars', data: {'template-name' => 'release'}}
  <img {{bindAttr src="model.cover_src"}} height='400px' class="cover-art"/>
  .copy.left.release-copy
    .bar
    .release-artist
      {{model.artist}}
    .release-title
      {{model.title}}
    .release-catalog-number
      {{model.catalog_number}}
      %br
      Released {{model.release_date}}
    .bar
    .release-description
      {{markdown model.description}}
