%script{type: 'text/x-handlebars'}
  #main-wrapper
    #header-wrapper
      #header
        #nav-wrapper-left
          %ul.nav.primary-nav.primary-nav-left
            %li
              {{#linkTo 'releases'}}Releases{{/linkTo}}
            %li
              {{#linkTo 'news'}}News{{/linkTo}}
          .clear
        #small-logo
        #nav-wrapper-right
          %ul.nav.primary-nav.primary-nav-right
            %li
              %a{ href: 'http://terranullrecordings.bandcamp.com', target: '_blank' }
                Store
            %li
              {{#linkTo 'podcasts'}}Podcasts{{/linkTo}}
          .clear
        .clear
      .clear
    #main
      #secondary-content
        {{outlet}}
      .clear

    #social-media
      %a{ href: 'http://terranullrecordings.bandcamp.com', target: '_blank' }
        %img{ src: '/assets/icon_0005_Layer-1.png' }
      %a{ href: 'http://www.facebook.com/terranullrecordings', target: '_blank' }
        %img{ src: '/assets/icon_0004_Layer-2.png' }
      %a{ href: 'http://www.twitter.com/terranullrecs', target: '_blank' }
        %img{ src: '/assets/icon_0003_Layer-3.png' }
      %a{ href: 'http://www.soundcloud.com/terranullrecordings', target: '_blank' }
        %img{ src: '/assets/icon_0002_Layer-4.png' }
      %a{ href: 'http://www.mixcloud.com/terranullrecordings', target: '_blank' }
        %img{ src: '/assets/icon_0001_Layer-5.png' }
      %a{ href: 'http://www.youtube.com/channel/UC9Fgz_TEywYWZ43BbI9GnkA', target: '_blank' }
        %img{ src: '/assets/icon_0000_Layer-6.png' }

  #footer-wrapper
    #footer
      &copy; 2014 TERRA NULL RECORDINGS. ALL RIGHTS RESERVED
