%script{type: 'text/x-handlebars', data: {'template-name'=> 'home'}}
  #header-wrapper
    #header
      #nav-wrapper-left
        %ul.nav.primary-nav.primary-nav-left
          %li
            {{#linkTo 'news' class='cool-font'}}News{{/linkTo}}
          %li
            {{#linkTo 'about' class='cool-font'}}About{{/linkTo}}
        .clear
      #small-logo
      #nav-wrapper-right
        %ul.nav.primary-nav.primary-nav-right
          %li
            {{#linkTo 'releases' class='cool-font'}}Releases{{/linkTo}}
          %li
            {{#linkTo 'podcasts' class='cool-font'}}Podcasts{{/linkTo}}
        .clear
      .clear
    .clear
  #main
    #secondary-content
      {{outlet}}
    .clear
  #footer-wrapper
    #footer
      .cool-font
        &copy; 2013 TERRA NULL RECORDINGS. ALL RIGHTS RESERVED

%script{type: 'text/x-handlebars', data: {'template-name' => 'about'}}
  .content.centered
    #main-title
    .copy.about-text
      %h2 About Us
      Terra Null, taken from the latin expression Terra Nullius derived from the Roman
      law meaning "Land belonging to no one". With this idea we at Terra Null Recordings
      try to cultivate an aesthetic that evokes a sense of organic evolution in both art
      and music. A world that belongs to nature rather than man naturally cultivates the
      unfamiliar and strange and is undeterred by the constructs of present human society
      and culture. We try to represent this as best we can through an eclectic collection
      of electronic music and digital artwork that we firmly believe pushes boundaries
      in the best way possible.
      %br
      %br
      %h2 Find Us
      %a{ href: 'https://www.facebook.com/terranullrecordings', target: '_blank' } Facebook
      %br
      %a{ href: 'https://twitter.com/terranullrecs', target: '_blank' } Twitter
      %br
      %a{ href: 'https://soundcloud.com/terranullrecordings', target: '_blank' } Soundcloud
      %br
      %br
      %h2 Send Demos To:
      TerraNullRecordings [at] gmail [dot] com
      %br
      Demos MUST BE:
      %br
      &nbsp;&nbsp;Full tracks (no clips)
      %br
      &nbsp;&nbsp;320 kbs mp3s (no wavs or aiffs)
      %br
      &nbsp;&nbsp;Contain track name, artist name, and contact info included
      %br
      %br

%script{type: 'text/x-handlebars', data: {'template-name' => 'podcasts'}}
  .copy
  %h2.center-text
    COMING SOON

%script{type: 'text/x-handlebars', data: {'template-name' => 'news'}}
  {{#each model}}
  .copy.news-item
    %h2
      {{title}}
    .news-date-text
      {{date_text}}
    %div
      {{markdown content}}
  {{/each}}

  #tertiary-content
    {{outlet}}
  .clear

%script{type: 'text/x-handlebars', data: {'template-name' => 'releases'}}
  #tertiary-content
    {{outlet}}
    .clear

  #release-thumbs-wrapper
    %ul#release-thumbs
      {{#each model}}
      <li>
      {{#linkTo 'release' this class='cool-font release-thumb'}}
      <img {{bindAttr src="cover_thumbnail_src"}} height='200px' class="cover-art"/>
      .release-thumb-copy
        .release-thumb-catalog-number
          {{catalog_number}}
        .release-thumb-title
          {{title}}
      {{/linkTo}}
      .clear
      </li>
      {{/each}}

%script{type: 'text/x-handlebars', data: {'template-name' => 'news-item'}}
  .copy.news-item
    %h2
      {{model.title}}
    %div
      {{markdown model.content}}

%script{type: 'text/x-handlebars', data: {'template-name' => 'release'}}
  {{view Terranullrecordings.ReleaseLightbox data-lightbox=model.title href=model.large_cover_src }}
  .copy.left.release-copy
    .bar
    .release-artist
      {{model.artist}}
    .release-title
      {{model.title}}
    .release-catalog-number
      {{model.catalog_number}}
      %br
      Released {{model.release_date}}
    .bar
    .release-description
      {{markdown model.description}}

%script{type: 'text/x-handlebars', data: {'template-name' => 'release_thumbnail'}}
  <img {{bindAttr src="model.cover_src"}} height='400px' class="cover-art"/>

