/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 *
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require lightbox
 */

/* MAIN PAGE */

body {
  background-color: #000;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

body {
  padding-bottom: 50px;
}

h2 {
  font-size: 24px;
  color: #EC008B;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 5px;
  font-weight: 100;
}

h1, h3 {
  margin-top: 10px;
  letter-spacing: 5px;
  font-style: normal;
  text-transform: uppercase;
}

a {
  color: #EC008B;
  text-decoration: none;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a:active {
  outline: none;
  text-decoration: none;
}

.left {
  float: left;
}

.center-text {
  text-align: center;
}

#main {
  width: 1000px;
  margin: 0 auto;
  background-color: #000;
  padding-bottom: 50px;
}

.copy {
  font-size: 13px;
  color: #ccc;
  letter-spacing: 2px;
  line-height: 24px;
}

.content {
  width: 800px;
}

.centered {
  margin: 0 auto;
}

.clear {
  clear: both;
}

#main-title {
  background-image: url('/assets/terra_null-logotype-white.png');
  background-repeat: no-repeat;
  width: 800px;
  height: 30px;
  background-position: center;
  margin-bottom: 20px;
}

.float-left {
  float: left;
}

.display-none {
  display: none;
}

/* MAIN PAGE - MAIN NAV */

#header-wrapper {
  background-color: #fff;
  height: 100px;
}

#header {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

#nav-wrapper-left {
  width: 400px;
  float: left;
}

#nav-wrapper-right {
  width: 400px;
  float: right;
}

#small-logo {
  background-image: url('/assets/logo_white_background_small.png');
  height: 100px;
  width: 100px;
  display: block;
  position: absolute;
  z-index: 999;
  left: 350px;
}

.primary-nav {
  letter-spacing: 7px;
  margin: 0 auto;
  text-align: center;
}

.primary-nav li {
  padding: 0;
  margin: 0;
  float: left;
  height: 100px;
  width: 200px;
}

.primary-nav li a {
  color: #000;
  line-height: 18px;
  padding: 0;
  margin: 0;
  font-size: 11px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 40px;
  display: block;
  width: 128px;
  height: 26px;
}

#nav-wrapper-right li a {
  text-align: right;
}

#nav-wrapper-left li a{
  text-align: left;
}

.primary-nav li a:hover {
  background-color: #fff;
  color: #aaa;
}

.primary-nav-right li a {
  float: right;
}

.nav .active {
  font-weight: bold;
}

/* TERTIARY CONTAINER */

#tertiary-content {
  padding-left: 15px;
}

/* FOOTER */

#footer-wrapper {
  height: 50px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #000;
}

#footer {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 8px;
}

/* bottomRELEASE PAGE */

.release {
  padding-top: 30px;
}

#release-thumbs-wrapper {
  position: absolute;
  top: 120px;
  width: 1000px;
  padding: 0;
}

#release-thumbs {
  float: left;
  margin-bottom: 0;
}

.release-thumb-catalog-number {
  color: #ccc;
  letter-spacing: 10px;
}

.release-thumb-title {
  color: #EC008B;
  letter-spacing: 10px;
}

#release-thumbs li{
  float: left;
  margin: 0;
  padding: 0;
}

.release-thumb {
  display: block;
  float: left;
  height: 170px;
  width: 170px;
  margin-right: 25px;
  margin-top: 20px;
}

.release-thumb img {
  padding: 5px;
}

.release-thumb:hover {
  background-color: #222;
}

#release-thumbs .active {
  background-color: #222;
}

.release-thumb-copy {
  font-size: 14px;
  word-spacing: 475px;
  line-height: 28px;
  text-transform: uppercase;
}

.bar {
  width: 496px;
  height: 10px;
  background-image: url('/assets/bar.png');
}

.cover-art {
  float: left;
}

.release .cover-art {
  margin-top: 4px;
}

.release-copy {
  padding-top: 0px;
  padding-left: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.release-buy-links {
  height: 28px;
  width: 496px;
  color: #a4a4a4;
}

.release-artist {
  color: #fff;
  letter-spacing: 10px;
}

.release-title {
  display: block;
  color: #EC008B;
  letter-spacing: 5px;
  font-size: 24px;
  width: 500px;
  line-height: 27px;
  font-weight: 100;
}

.release-description {
  color: #a4a4a4;
  letter-spacing: 3px;
  padding-top: 6px;
}

.release-getitnow {
  font-weight: 100;
}

.release-catalog-number {
  color: #a4a4a4;
  letter-spacing: 10px;
  padding-bottom: 18px;
}

.release-track {
  padding-bottom: 10px;
  padding-top: 5px;
  color: #a4a4a4;
  line-height: 24px;
}

/* ABOUT PAGE */

.about-text {
  line-height: 25px;
  font-size: 13px;
  padding-top: 10px;
}

#about-banner {
  width: 800px;
  height: 330px;
  display: block;
  background: url('/assets/banner.jpg');
}

.about-text p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#demo-reqs {
  list-style-type: circle;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff
}

.social-table {
  margin-top: 40px;
  width: 100%;
}

#about-copy {
  padding-top: 20px;
}

.about-image {
  background: url('/assets/splash_white_small.jpg');
  width: 400px;
  height: 331px;
  float: right;
  margin-top: 15px;
}

.about-text {
  width: 400px;
  float: left;
}

.social-table {
  width: 100%;
}

#demo-reqs {
  padding-top: 10px;
}

#demo-reqs ul {
  list-style-type:circle
}

/* NEWS ITEM PAGE */

.news-item {
  padding: 0;
  width: 925px;
  margin: 0 auto;
  padding-top: 30px;
}

.news-item p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 21px;
}

.news-item-details {
  width: 650px;
}

.news-date-text {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  padding-bottom: 25px;
}

.news-item-copy {
  width: 700px;
  float: right;
}

.news-item-image {
  margin-top: 4px;
  border: 1px solid #404040;
  float:left;
}

/* PODCAST PAGE */

#podcasts li {
  padding-top: 30px;
  padding-left: 20px;
}

.podcast-thumbnail {
  margin-right: 20px;
  border: 1px solid #404040;
  margin-top: 4px;
}

.bar-long {
  width: 700px;
  height: 10px;
  background-image: url('/assets/bar-long.png');
}

.podcast-copy {
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
}

.podcast-title {
  color: #fff;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: 100;
  line-height: 40px;
}

.podcast-artist {
  color: #EC008B;
  letter-spacing: 10px;
}

.podcast-embed {
  padding-top: 85px;
}

.podcast-embed p {
  padding: 0;
  margin: 0;
}

.show-tracklist {
  color: #EC008B;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.podcast-tracklist {
  text-transform: none;
  font-size: 16px;
  line-height: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #444;
}

.podcast-tracklist p {
  line-height: 30px;
  color: #aaa;
  padding-top: 10px;
}

/**** SOCIAL MEDIA ****/

#main-wrapper {
  position: relative;
}

#social-media {
  width: 75px;
  height: 300px;
  position: fixed;
  left: 0;
  bottom: 56px;
}
